<% provide(:title, "О приложении") %>

<h1>О приложении</h1>
<p class="center">
  Это приложение создано <em><%= link_to "by garstvic", 'http://github.com/garstvic' %></em>
  в ходе изучения <%= link_to "Ruby on Rails", 'http://rubyonrails.org' %>.
</p>
