<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Добро пожаловать в Sample App</h1>
  <!--<h1>Welcome to the Sample App</h1>-->

  <h2>
    Это домашняя страница образца приложения <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  </h2>
  
  <%= link_to "Зарегистрироваться сейчас", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag('rails.png', alt: "Rails logo"), 'http://rubyonrails.org' %>