<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to("Sample App", '#', id: 'logo') %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Главная", '#' %></li>
        <li><%= link_to "Помощь", '#' %></li>
        <li><%= link_to "Войти", '#' %></li>
      </ul>
    </nav>
  </div>
</header>