
<div class="container">
  <div class="row">
    
    <div class="col-sm-4">
        <%= link_to image_tag('rails.png', alt: "Rails logo"), 'http://rubyonrails.org' %>
          <h3>
            Ruby on Rails
          </h3>
          <p>
            Фреймворк, написанный на языке программирования <strong>Ruby</strong>.
            <strong>Ruby on Rails</strong> предоставляет архитектурный образец <strong>MVC</strong> для веб-приложений,
            а также обеспечивает их интеграцию с веб-сервером и сервером базы данных.
          </p>
    </div>
    
    <div class="col-sm-4">
        <%= link_to image_tag('bootstrap.png', alt: "Bootstrap 3"), 'http://getbootstrap.com/' %>
          <h3>
            Bootstrap 3
          </h3>
          <p>
            Cвободный набор инструментов для создания сайтов и веб-приложений. 
            Включает в себя <strong>HTML</strong> и <strong>CSS</strong> шаблоны оформления для типографики, веб-форм, 
            кнопок, меток, блоков навигации и прочих компонентов веб-интерфейсов, включая <strong>JavaScript</strong> расширения.
          </p>
    </div>
    
    <div class="col-sm-4">
        <%= link_to image_tag('html_css.png', alt: "HTML5 CSS3 logo"), 'http://http://www.w3schools.com/' %>
          <h3>
            HTML5/CSS3
          </h3>
          <p>
            <strong>HTML5</strong> - язык для структурирования и представления содержимого всемирной паутины.
            <strong>CSS3</strong> - каскадные таблицы стилей) — формальный язык описания внешнего вида документа, 
            написанного с использованием языка разметки.
          </p>
    </div>
  </div>
</div>